<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ngInclude</title>
    <script src="js/angularjs.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
</head>
<body ng-app="myApp" ng-controller="HomeController">
<div ng-include="'index.html'"  onload="hits=12;"></div>
</body>
</html>
<script type="text/ng-template" id="index.html">
    <h3>Button hits: {{hits}}</h3>
    <button ng-click="registerHit()">
        HIT ME, if you dare
    </button>
    <button ng-click="removeHit()">
        REMOVE ME, if you dare
    </button>
</script>